header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0f4f74;
    color: #ffffffcc;
    display: flex;
    flex-wrap: wrap;
}
nav{

}
h1 {

}
h2 {

}
figure{

}
.flex-container{
    width 100px;
    height 100px;
    background-color:lightskyblue;


}
footer {

}